<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="AdminUser" type="com.subaozuche.model.AdminUser" />
		<typeAlias alias="City" type="com.subaozuche.model.City" />
		<typeAlias alias="Order" type="com.subaozuche.model.Order" />
		<typeAlias alias="News" type="com.subaozuche.model.News" />
		<typeAlias alias="Client" type="com.subaozuche.model.Client" />
		<typeAlias alias="Recruit" type="com.subaozuche.model.Recruit" />
		<typeAlias alias="Activity" type="com.subaozuche.model.Activity" />
	</typeAliases>

	<mappers>
		<mapper resource="com/subaozuche/dao/AdminUser.mybatis.xml" />
		<mapper resource="com/subaozuche/dao/City.mybatis.xml" />
		<mapper resource="com/subaozuche/dao/Order.mybatis.xml" />
		<mapper resource="com/subaozuche/dao/News.mybatis.xml" />
		<mapper resource="com/subaozuche/dao/Client.mybatis.xml" />
		<mapper resource="com/subaozuche/dao/Recruit.mybatis.xml" />
		<mapper resource="com/subaozuche/dao/Activity.mybatis.xml" />
	</mappers>

</configuration>